@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Mainenance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">
        <br />
        <div class="well well-sm">
            <div class="alert alert-danger">
                <div class="row">
                    <div class="col-xs-12 text-center ">
                        <h2><strong>SDDB</strong></h2>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Server Down For Maintenance</h2>
                        <h4>Please contact Tomasz Dobrowolski or Juan-Antonio Jimenez to get information when the site will be up.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
