<!------- logEntryFilesView ------->
<div class="container-fluid hidden" id="logEntryFilesView">

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3 id="prsProjViewLabel">Log Entry Files</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-warning margin-top-10px">
                <div class="panel-heading text-center" style="font-weight:bold" id="logEntryFilesViewPanel"> </div>
            </div>
        </div>
    </div>

    <div class="well well-tdo">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group margin-bottom-2px">
                    <span class="btn btn-default btn-file">Upload <input type="file" id="logEntryFilesBtnUpload" multiple></span>
                    <button class="btn btn-info" id="logEntryFilesBtnDload">Download</button>
                    <button class="btn btn-danger" id="logEntryFilesBtnDelete">Delete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"><strong>Log Entry Files</strong></div>
                    <table class="table table-striped" id="tableLogEntryFiles">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Size kB</th>
                                <th>TimeStamp</th>
                                <th>Upload By</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <iframe class="hidden" id="logEntryFilesIframe" name="logEntryFilesIframe"></iframe>
</div>

<!------------ modalUpload dialog ------------>
<div class="modal" id="modalUpload" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalUploadLabel">Uploading...</h4>
            </div>
            <div class="modal-body">
                <div id="modalUploadBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" id="modalUploadBtnAbort">Abort</button>
            </div>
        </div>
    </div>
</div>

<!----------- modalDeleteFiles dialog ----------->
<div class="modal" id="modalDeleteFiles" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalDeleteFilesLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <div id="modalDeleteFilesBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" id="modalDeleteFilesBtnCancel">Cancel</button>
                <button class="btn btn-warning" id="modalDeleteFilesBtnOk">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>

<!------------ modalChngSts dialog ------------>
<div class="modal" id="modalChngSts" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalChngStsLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <div id="modalChngStsBody"></div>
                <br />
                <div id="modalChngStsMs" placeholder="Select Status"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" id="modalChngStsBtnCancel">Cancel</button>
                <button class="btn btn-warning" id="modalChngStsBtnOk">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>

