<!------------ modalChngSts dialog ------------>
<div class="modal" id="modalChngSts" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalChngStsLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <div id="modalChngStsBody"></div>
                <br />
                <div id="modalChngStsMs" placeholder="Select Status"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" id="modalChngStsBtnCancel">Cancel</button>
                <button class="btn btn-warning" id="modalChngStsBtnOk">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>

