<div class="btn-group navbar-btn tdo-btngroup-initial"></div>

<div class="btn-group navbar-btn tdo-btngroup-main hidden">
    <button type="button" class="btn btn-default" id="BtnCreate">New</button>
    <button type="button" class="btn btn-tdo-nav" id="BtnEdit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-danger" id="BtnDelete">&nbsp;&nbsp;Del&nbsp;&nbsp;</button>
</div>

<div class="btn-group navbar-btn tdo-btngroup-edit hidden">
    <button type="button" class="btn btn-default" id="EditFormBtnCancel">Back</button>
    <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-success" id="EditFormBtnOk">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
</div>
