<div class="btn-group navbar-btn tdo-btngroup-initial"></div>

<div class="btn-group navbar-btn tdo-btngroup-main hidden">
    <button type="button" class="btn btn-default" id="btnCreate">New</button>
    <button type="button" class="btn btn-tdo-nav" id="btnEdit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-danger" id="btnDelete">&nbsp;Del&nbsp;</button>
</div>

<div class="btn-group navbar-btn tdo-btngroup-edit hidden">
    <button type="button" class="btn btn-default" id="editFormBtnCancel">Back</button>
    <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-success" id="editFormBtnOk">
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
</div>
